* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}


ul {
    list-style: none;
}


.nav {
    width: 600px;
    margin: 0 auto;
    background:lightgreen;
    color: #f0f0f0;
}


.nav__submenu {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
}

.nav__menu-item {
    float: left;
    /*margin-right: 20px;*/
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.nav__menu-item:hover {
    background-color: green;
}

/*.nav__menu-item:last-child {*/
/*margin-right: 0;*/
/*}*/

.nav__submenu-item {
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    background-color: lightgreen;
    text-align: center;
    width: 168%;
}

.nav__menu-item:hover > .nav__submenu {
    display: block;
}

.nav__submenu-item:hover {
    background: green;
}

.nav__submenu-item {
    position: relative;
}

.list {
    /*     display: none; */
    position: absolute;
    right: -186%;
    bottom: -50%;

}

.list-item {
    padding: 10px 18px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: lightgreen;
}

.nav__submenu-item:hover > .list {
    display: block;
}
.list-item:hover {
    background: green;
}