.container {
    height: 1000px;

    background-repeat: repeat;
    /*width: 272px;*/
    /*height: 92px;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("WOD4 google.png");
}
